section {
    position: absolute;
    display: flex;
    display: grid;
    flex-direction: row;
    margin: auto;
    max-width: 25.1vw;
    height: 48.8rem;
   
    padding-left: 3.0rem;
    padding-right: 3.0rem;
    grid-gap: 1.2rem;

    border-radius: 2.7rem;
    opacity: 50%;
  
    border: 1px solid;
    background: linear-gradient(109.46deg, rgba(201, 201, 201, 0.8) 1.57%, rgba(196, 196, 196, 0.1) 100%);
  
    backdrop-filter: blur(60rem);
    
    
    right: 4.59rem;
    top: 9rem;

  }
  
  
  
  